.sidebar {
    position: fixed;
    top: 0;
    left: -600px;
    width: 600px;
    height: 100vh;
    background-color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: left 0.3s ease;
    z-index: 1000;
}
  
.sidebar.open {
    left: 0;
}
  
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    overflow-y: auto;
}

.sticky-graph {
    position: sticky;
    z-index: 10; /* Ensure the graph stays above other content */
    top: 0;
    background-color: black;
    width: 100%;
    padding: 5vh;
}